.table-container table tbody {
  display: block;
  max-height: 46vh; /* This sets the maximum height to the height of the viewport */
  overflow-y: auto; /* This enables vertical scrolling */
  overflow-x: hidden; /* This hides horizontal scrolling */
}

.table-container table thead, .table-container table tbody tr {
  display: table;
  width: 100%; /* Optional: for full width */
  table-layout: fixed; /* Optional: for equal column width */
}

.table-container table {
  width: 100%;
  height: 48vh;
}


.table-container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5; /* You can set it to any color you want */
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd; /* Light grey border */
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .select-option {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  
  /* Add more styles as needed */
  